<section id="grid">
    <h1 class="heading-section">Grid</h1>
    <p>Grid system consist 12 columns - columns count are defined via variables which allow you to change after your needs.</p>
    <div class="row">
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
        <div class="column-1"><span></span></div>
    </div>
    <div class="row">
        <div class="column-2"><span></span></div>
        <div class="column-2"><span></span></div>
        <div class="column-2"><span></span></div>
        <div class="column-2"><span></span></div>
        <div class="column-2"><span></span></div>
        <div class="column-2"><span></span></div>
    </div>
    <div class="row">
        <div class="column-3"><span></span></div>
        <div class="column-3"><span></span></div>
        <div class="column-3"><span></span></div>
        <div class="column-3"><span></span></div>
    </div>
    <div class="row">
        <div class="column-4"><span></span></div>
        <div class="column-4"><span></span></div>
        <div class="column-4"><span></span></div>
    </div>
    <div class="row">
        <div class="column-6"><span></span></div>
        <div class="column-6"><span></span></div>
    </div>
    <div class="row">
        <div class="column-12"><span></span></div>
    </div>
    <br>
    <p>Columns for mobile devices</p>
    <div class="row">
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
        <div class="column__mobile-1"><span></span></div>
    </div>
    <div class="row">
        <div class="column__mobile-2"><span></span></div>
        <div class="column__mobile-2"><span></span></div>
        <div class="column__mobile-2"><span></span></div>
        <div class="column__mobile-2"><span></span></div>
        <div class="column__mobile-2"><span></span></div>
        <div class="column__mobile-2"><span></span></div>
    </div>
    <div class="row">
        <div class="column__mobile-3"><span></span></div>
        <div class="column__mobile-3"><span></span></div>
        <div class="column__mobile-3"><span></span></div>
        <div class="column__mobile-3"><span></span></div>
    </div>
    <div class="row">
        <div class="column__mobile-4"><span></span></div>
        <div class="column__mobile-4"><span></span></div>
        <div class="column__mobile-4"><span></span></div>
    </div>
    <div class="row">
        <div class="column-12"><span></span></div>
    </div>
</section>