<section id="images">
    <h1 class="heading-section">Images</h1>
    <p>All images are responsive by default.</p>
    <div class="row">
        <div class="column-4">
            <img src="http://lorempixel.com/sports/400/200" alt="Some image" />
        </div>
        <div class="column-4">
            <img src="http://lorempixel.com/people/400/200" alt="Some image" />
        </div>
        <div class="column-4">
            <img src="http://lorempixel.com/business/400/200" alt="Some image" />
        </div>
    </div>
</section>