<section id="list-style">
    <h1 class="heading-section">List styles</h1>
    <p>Several list styles are included in the framework</p>
    <div class="row">
        <div class="column-3">
            <p class="text-bold">Default unordered list style</p>
            <ul class="list-style-square">
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
                <li>List item five</li>
            </ul>
        </div>
        <div class="column-3">
            <p class="text-bold">Default ordered list style</p>
            <ol class="list-style-decimal">
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
                <li>List item five</li>
            </ol>
        </div>
        <div class="column-3">
            <p class="text-bold">Lists styled crossed checkmarks</p>
            <ul class="list-style-crossed">
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
                <li>List item five</li>
            </ul>
        </div>
        <div class="column-3">
            <p class="text-bold">Lists styled with checkmarks</p>
            <ul class="list-style-checkmark">
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
                <li>List item five</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column-3">
            <p class="text-bold">Lists styled with arrows</p>
            <ul class="list-style-arrow">
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
                <li>List item five</li>
            </ul>
        </div>
        <div class="column-3">
            <p class="text-bold">Lists styled with plus signs</p>
            <ul class="list-style-plus">
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
                <li>List item five</li>
            </ul>
        </div>
        <div class="column-3">
            <p class="text-bold">Lists styled with minus signs</p>
            <ul class="list-style-minus">
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
                <li>List item five</li>
            </ul>
        </div>
        <div class="column-3">
            <p class="text-bold">Lists with no style</p>
            <ul class="list-style-none">
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
                <li>List item five</li>
            </ul>
        </div>
    </div>
</section>