<nav id="navigation-primary" class="navigation-main">
    <h1 class="navigation-logo"><a rel="home" href="/">Rommel</a></h1>

    <label for="toggleNavigation" class="navigation-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <input id="toggleNavigation" class="navigation-toggle" type="checkbox">

    <div class="navigation-collapse">
        <ul class="navigation">
            <li><a href="#typography">Typography</a></li>
            <li><a href="#images">Images</a></li>
            <li><a href="#grid">Grid</a></li>
            <li><a href="#list-style">List styles</a></li>
            <li><a href="#list-style">List styles</a></li>
            <li><a href="#tabs">Tabs</a></li>
            <li><a href="#tables">Tables</a></li>
            <li><a href="#spinner">Spinner</a></li>
        </ul>
    </div>

</nav>