<section id="tabs">
    <h1 class="heading-section">Tabs</h1>
    <p>Tabs is a great way of presenting a lot of data in a small area - so check it out.</p>
    <!-- Nav tabs -->
    <div class="tabs-container">
        <ul class="navigation-tabs">
            <li class="current"><a href="#tab-1">Tab 1</a></li>
            <li><a href="#tab-2">Tab 2</a></li>
            <li><a href="#tab-3">Tab 3</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab">
            <div id="tab-1" class="tab-content">
                <div class="row">
                    <div class="column-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit.</p>
                    </div>
                    <div class="column-6">
                        <img src="http://lorempixel.com/people/400/200" alt="Some image" />
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <div class="row">
                    <div class="column-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit.</p>
                        <img src="http://lorempixel.com/people/400/200" alt="Some image" />
                    </div>
                    <div class="column-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit.</p>
                        <img src="http://lorempixel.com/sports/400/200" alt="Some image" />
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-content">
                <div class="row">
                    <div class="column-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit.</p>
                    </div>
                    <div class="column-8">
                        <img src="http://lorempixel.com/business/800/200" alt="Some image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>