<section id="tables">
    <h1 class="heading-section">Tables</h1>
    <p>There is also taken care of table styling if you are in the need of listing data.</p>
    <table class="table">
        <thead>
        <tr>
            <td>First name</td><td>Last name</td><td>Birth date</td><td>Birth city</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mikkel</td><td>Rommelhoff</td><td>07-05-1986</td><td>Haslev</td>
        </tr>
        <tr>
            <td>Mads</td><td>Rommelhoff</td><td>05-01-1982</td><td>Haslev</td>
        </tr>
        <tr>
            <td>Mariane</td><td>Rommelhoff</td><td>21-05-1963</td><td>Ringsted</td>
        </tr>
        <tr>
            <td>Birk</td><td>Rommelhoff</td><td>03-06-1960</td><td>Ringsted</td>
        </tr>
        </tbody>
    </table>
</section>