<section id="typography">
    <article>
        <h1 class="heading-section">Headings</h1>
        <div class="row">
            <div class="column-6">
                <h1>This heading is a h1 heading</h1>
                <h2>This heading is a h2 heading</h2>
                <h3>This heading is a h3 heading</h3>
                <h4>This heading is a h4 heading</h4>
                <h5>This heading is a h5 heading</h5>
                <h6>This heading is a h6 heading</h6>
                <br>
                <p class="lead">Text in lead stand-out and is great for highlighting.</p>
                <br>
                <p><b>I am a very bold text from the b tag</b></p>
                <p class="text-underline">I am a very underlined cause i have a class of .text-underline</p>
                <p><small>I am a very small text from the small tag</small></p>
                <p><a href="#">I am a link</a></p>
            </div>
            <div class="column-6">
                <p class="lead">Thank you all for comming</p>
                <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ullamcorper velit.</em></p>
                <p>Suspendisse potenti. Proin quis egestas magna. <b>Vivamus sodales placerat felis non elementum</b>. Vivamus pharetra enim ut mauris elementum, vel adipiscing urna pellentesque. Vestibulum et tincidunt odio, in mollis urna. Morbi risus sem, luctus nec sodales ac, interdum in dolor.</p>
                <p>Etiam rutrum ullamcorper lorem, ut malesuada velit imperdiet a. Pellentesque lacinia rutrum sapien eu feugiat. Maecenas nec tortor lobortis, bibendum quam ut, euismod leo. Nullam id elit at ante rhoncus elementum. <small>Ut volutpat eleifend neque at condimentum</small> Donec feugiat lectus at porta consequat. Nulla viverra magna vitae neque ultricies, ut condimentum augue condimentum.</p>
                <blockquote>Integer feugiat arcu quis auctor pretium. Nulla facilisi. Donec elit turpis, rutrum sed velit quis, rutrum egestas ligula.</blockquote>
                <p>In eleifend nunc nec bibendum rutrum. Cras tempus <a href="#">molestie velit</a>, eu dapibus lorem lobortis vitae. Pellentesque <span class="text-underline">consequat commodo</span> imperdiet. Aenean placerat augue dui, quis semper ante euismod nec.</p>
            </div>
        </div>
    </article>
</section>