html,
button,
input,
select,
textarea { color: $body-font-color; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {  line-height: $body-line-height; }
body {
  background: $body-background-color;
  font: $body-font-family;
  color: $body-font-color;
  font-size: $body-font-size;
  line-height: $body-line-height;
  width: 100%;
  height: 100%;
  @include clearfix();
}

::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border-color-light;
  margin: 1em 0;
  padding: 0;
}

a {
  color: $link-color;

  &:hover { color: $link-color-dark; }
}

audio,
canvas,
img,
video { vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea { resize: vertical; }